name: Build and Deploy Full Stack

on:
  push:
    branches: ["main"]

jobs:
  deploy:
    runs-on: self-hosted

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Build and Deploy Services
        run: |
          cd ~/sistema-ibanje
          # Build new images for services that have changed
          docker-compose build
          # Bring up all services, recreating containers for services that were rebuilt
          docker-compose up -d --force-recreate --remove-orphans
          # Clean up old, unused images
          docker image prune -f
